:root {
  --white: #fff;
  --black: #000;
  --pink-text-color: #ffa5ba; // цвет шрифта, фона неактивных иконок в футере, большой круг в хэдере (светло-розовый)
  --grey-text-color: #907e82;
  --main-pink-color: #d41443; // фон кнопок и цвет заголовков
  --accent-btn-color: #ecebeb; // фон акцента кнопок
  --header-background: #ffb8ca; // фон хэдера и дива IceCream
  --background-coffee: #f0d1a5; // фон дива IceCoffee
  --background-milkshakes: #c2e297; // фон дива MilkShakes
  --section-background: #fff5f6; // фон секций розовый (эбаут, эдвантеджес, контактс, футер, галерея)
  --font-color: #ffa5ba;
  --mobile-menu-background: #e17992;
  --reviews-background: #fafafa; // фон отзывов в секции customer reviews
  --reviews-elements-color: #d9d9d9; // цвет псевдоэлементов customer reviews
  --primary-font: 'DM Sans', sans-serif;
  --titan-font: 'Titan One', cursive;
  --animation-duration: 250ms;
  --animation-type: cubic-bezier(.17,.67,.83,.67);
}
