<section class="advantages">
  <div class="container">
    <h2 class="section-title visually-hidden">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-list-item advantages-icon1">
        <h3 class="advantages-list-item-title">721</h3>
        <p class="advantages-list-item-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list-item advantages-icon2">
        <h3 class="advantages-list-item-title">16kg</h3>
        <p class="advantages-list-item-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list-item advantages-icon3">
        <h3 class="advantages-list-item-title">84</h3>
        <p class="advantages-list-item-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
