<section class="reviews">
    <div class="container">
        <div class="slider">
            <div class="slider-item">
                <picture>
                    <source srcset="./images/testimonials1@1x.webp 1x, ./images/testimonials1@2x.webp 2x" type="image/webp">
                    <img class="reviews-img" srcset="./images/testimonials1@1x.png 1x, ./images/testimonials1@2x.png 2x"
                        src="./images/testimonials1@1x.png" alt="girl">
                </picture>
        
                <div class="reviews-wrapper">
                    <p class="reviews-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                        hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
        
                <div class="reviews-box">
                    <p class="location-text">Anna, Kyiv</p>
                </div>
            </div>
        
            <div class="slider-item">
                <picture>
                    <source srcset="./images/testimonials2@1x.webp 1x, ./images/testimonials2@2x.webp 2x" type="image/webp">
                    <img class="reviews-img" srcset="./images/testimonials2@1x.png 1x, ./images/testimonials2@2x.png 2x"
                        src="./images/testimonials2@1x.png" alt="girl">
                </picture>
        
                <div class="reviews-wrapper">
                    <p class="reviews-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                        hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
        
                <div class="reviews-box">
                    <p class="location-text">Emily, Odessa</p>
                </div>
            </div>
        
            <div class="slider-item">
                <picture>
                    <source srcset="./images/testimonials3@1x.webp 1x, ./images/testimonials3@2x.webp 2x" type="image/webp">
                    <img class="reviews-img" srcset="./images/testimonials3@1x.png 1x, ./images/testimonials3@2x.png 2x"
                        src="./images/testimonials3@1x.png" alt="girl">
                </picture>
        
                <div class="reviews-wrapper">
                    <p class="reviews-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                        hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
        
                <div class="reviews-box">
                    <p class="location-text">Maria, Berdychiv</p>
                </div>
            </div>
        </div>
    </div>
</section>