<section class="reviews">
    <div class="slider">
        <div class="slider-item">
            <img src="./images/testimonials1@1x.png" alt="girl">
            <div class="reviews-wrapper">
                <p class="reviews-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <div class="reviews-box">
                <p class="location-text">Emily, Los Angeles</p>
            </div>
        </div>

        <div class="slider-item">
            <img src="./images/testimonials2@1x.png" alt="girl">
            <div class="reviews-wrapper">
                <p class="reviews-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <div class="reviews-box">
                <p class="location-text">Emily, Los Angeles</p>
            </div>
        </div>

        <div class="slider-item">
            <img src="./images/testimonials3@1x.png" alt="girl">
            <div class="reviews-wrapper">
                <p class="reviews-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <div class="reviews-box">
                <p class="location-text">Emily, Los Angeles</p>
            </div>
        </div>
    </div>
</section>