<section class="gallery">
  <div class="container">
    <picture>
      <source
        srcset="
          ./images/desktop/gallery-desktop@1x.jpg 1x,
          ./images/desktop/gallery-desktop@2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/desktop/gallery-desktop@1x.webp 1x,
          ./images/desktop/gallery-desktop@2x.webp 2x
        "
        media="(min-width: 1200px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/desktop/gallery-tablet@1x.jpg 1x,
          ./images/desktop/gallery-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/desktop/gallery-tablet@1x.webp 1x,
          ./images/desktop/gallery-tablet@2x.webp 2x
        "
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/desktop/gallery-mobile@1x.png 1x,
          ./images/desktop/gallery-mobile@2x.png 2x
        "
        media="(min-width: 320px)"
      />
      <source
        srcset="
          ./images/desktop/gallery-mobile@1x.webp 1x,
          ./images/desktop/gallery-mobile@2x.webp 2x
        "
        media="(min-width: 320px)"
        type="image/webp"
      />
      <img
        class="gallery-photo"
        src="./images/desktop/gallery-mobile@1x.png"
        alt="Галерея фотографий"
      />
    </picture>
  </div>
</section>
