<section class="hero-header">
    <div class="container">
        <header class="header" style="display: flex;">
            <a href="#" class="logo-link"><img src="./images/logo@1x.png" alt="logo" width="199" height="50"></a>
            <nav class="nav-list">
                <li class="nav-list-item">Home</li>
                <li class="nav-list-item">About us</li>
                <li class="nav-list-item">How it's made?</li>
                <li class="nav-list-item">Our products</li>
                <li class="nav-list-item">Contact</li>
            </nav>
            <button type="button">Buy now</button>
        </header>
        <h1 class="hero-title">ice cream made with passion<span class="hero-title-text">passion</span></h1>
        <ul>
            <li><a href="#">Products</a></li>
            <li><a href="#">How it's made?</a></li>
        </ul>
        <ul>
            <li>16 <p>cafes</p></li>
            <li>23 <p>food trucks</p></li>
        </ul>
        <div>
            <img src="./images/desktop/bioeco-header-desktop@1x.png" alt="" width="188" height="191">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button></button>
        </div>
        <div>
            <img src="./images/desktop/icecream-header-desktop@1x.png" alt="">
        </div>
        <img src="./images/desktop/tasty-header-desktop@1x.png" alt="">   
    </div>
</section>