<section class="hero-header">
    <div class="container">
        <header class="header">
            <a href="#" class="logo-link"><img src="./images/logo@1x.png" alt="logo" width="199" height="50"></a>
            <nav class="nav-menu">
                <ul class="nav-list">
                    <li class="nav-list-item">Home</li>
                    <li class="nav-list-item">About us</li>
                    <li class="nav-list-item">How it's made?</li>
                    <li class="nav-list-item">Our products</li>
                    <li class="nav-list-item">Contact</li>
                </ul>
            </nav>
            <ul class="header-btn-list">
                <li class="header-btn-list-item">
                    <button type="button" class="burger-menu-btn" data-menu-button>
                        <svg class="burger-menu-btn-icon">
                            <use href="./images/sprite.svg#icon-burger"></use>
                        </svg>
                    </button>
                </li>
                <li class="header-btn-list-item">
                    <button type="button" class="header-btn">Buy now
                        <svg class="header-btn-icon" width="10" height="10">
                            <use href="./images/sprite.svg#arrow-right-short"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </header>
        
        <h1 class="hero-title title">ice cream made with <span class="hero-title-text">passion</span></h1>
            
        <ul class="hero-links-list">
            <li class="hero-links-list-item prod"><a href="#" class="hero-links-list-link-product">Products</a></li>
            <li class="hero-links-list-item made"><a href="#" class="hero-links-list-link-made">How it's made?</a></li>
        </ul>
        <ul class="presentation-list">
            <li class="presentation-list-item">16
                <div class="presentation-list-decor"></div> 
                <p>cafes</p>
            </li>
            <li class="presentation-list-item">23
                <div class="presentation-list-decor"></div>
                <p>food trucks</p>
            </li>
        </ul>
        
        <div class="manufacture">
            <picture class="manufacture-img">
                <source srcset="./images/desktop/bioeco-header-desktop@1x.webp 1x, ./images/desktop/bioeco-header-desktop@2x.webp 2x"
                media="(min-width: 1200px)" type="image/webp">
                <source srcset="./images/desktop/bioeco-header-desktop@1x.png 1x, ./images/desktop/bioeco-header-desktop@2x.png 2x"
                media="(min-width: 1200px)">
                <source srcset="./images/tablet/bioeco-header-tablet@1x.webp 1x, ./images/tablet/bioeco-header-tablet@2x.webp 2x"
                media="(min-width: 768px)" type="image/webp">
                <source srcset="./images/tablet/bioeco-header-tablet@1x.png 1x, ./images/tablet/bioeco-header-tablet@2x.png 2x"
                media="(min-width: 768px)">
                <img src="./images/desktop/bioeco-header-desktop@1x.png" alt="">
            </picture>
            <div class="manufacture-wraper">
                <p class="manufacture-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="hero-round-btn">
                    <svg class="hero-round-btn-icon">
                        <use href="./images/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <picture class="tasty-header-image">
            <source srcset="./images/desktop/tasty-header-desktop@1x.webp 1x, ./images/desktop/tasty-header-desktop@2x.webp 2x"
            media="(min-width: 1200px)" type="image/webp">
            <source srcset="./images/desktop/tasty-header-desktop@1x.png 1x, ./images/desktop/tasty-header-desktop@2x.png 2x"
            media="(min-width: 1200px)">  
            <source srcset="./images/tablet/tasty-header-tablet@1x.webp 1x, ./images/tablet/tasty-header-tablet@2x.webp 2x"
            media="(min-width: 768px)" type="image/webp">
            <source srcset="./images/tablet/tasty-header-tablet@1x.png 1x, ./images/tablet/tasty-header-tablet@2x.png 2x"
            media="(min-width: 768px)">
            <img src="./images/desktop/tasty-header-desktop@1x.png" alt="">
        </picture>   
    </div>
    <div class="icecream-background">
        <picture class="icecream-img">
            <source srcset="./images/desktop/icecream-header-desktop@1x.webp 1x, ./images/desktop/icecream-header-desktop@2x.webp 2x"
            media="(min-width: 1200px)" type="image/webp">
            <source srcset="./images/desktop/icecream-header-desktop@1x.png 1x, ./images/desktop/icecream-header-desktop@2x.png 2x"
            media="(min-width: 1200px)">
            <source srcset="./images/tablet/icecream-header-desktop@1x.webp 1x, ./images/tablet/icecream-header-desktop@2x.webp 2x"
            media="(min-width: 768px)" type="image/webp">
            <source srcset="./images/tablet/icecream-header-desktop@1x.png 1x, ./images/tablet/icecream-header-desktop@2x.png 2x"
            media="(min-width: 768px)">
            <source srcset="./images/mobile/icecream-header-mobile@1x.webp 1x, ./images/mobile/icecream-header-mobile@2x.webp 2x"
            media="(min-width: 320px)" type="image/webp">
            <source srcset="./images/mobile/icecream-header-mobile@1x.png 1x, ./images/mobile/icecream-header-mobile@2x.png 2x"
            media="(min-width: 320px)">
            <img src="./images/mobile/icecream-header-mobile@1x.png" alt="">
        </picture>
    </div>
    
    <div class="mobile-menu" data-menu>
        <button type="button" class="mobile-menu-close" data-menu-close>
            <svg class="mobile-menu-close-icon">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <ul class="mobile-menu-nav-list">
            <li class="mobile-menu-nav-list-item"><a class="mobile-menu-nav-list-link" href="#">Home</a></li>
            <li class="mobile-menu-nav-list-item"><a class="mobile-menu-nav-list-link" href="#about">About us</a></li>
            <li class="mobile-menu-nav-list-item"><a class="mobile-menu-nav-list-link" href="#made">How it's made?</a></li>
            <li class="mobile-menu-nav-list-item"><a class="mobile-menu-nav-list-link" href="#products">Our products</a></li>
            <li class="mobile-menu-nav-list-item"><a class="mobile-menu-nav-list-link" href="#contacts">Contact</a></li>
        </ul>
    </div>
</section>