<section id="products" class="products">
    <div class="container">
        <p class="label">100% natural</p>
        <h2 class="title">products</h2>
        <ul class="products-list">
            <li class="products-list-item">
                <div class="products-list-box icecream">
                    <h3 class="product-name">ice cream</h3>
                    <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et</p>
                    <button class="round-btn" type="button">
                        <svg class="arrow-icon" width="12" height="12">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products-list-item">
                <div class="products-list-box icecoffee">
                    <h3 class="product-name">ice coffee</h3>
                    <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et</p>
                    <button class="round-btn" type="button">
                        <svg class="arrow-icon" width="12" height="12">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products-list-item">
                <div class="products-list-box milkshakes">
                    <h3 class="product-name">milkshakes</h3>
                    <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et</p>
                    <button class="round-btn" type="button">
                        <svg class="arrow-icon" width="12" height="12">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </li>   
        </ul>
    </div>
</section>