<section class="products">
    <div class="container">
        <p class="label">100% natural</p>
        <h2 class="title">products</h2>
        <ul class="products-list">
            <li class="products-list-item">
                <div class="icecream products-list-box">
                    <h3 class="product-name label">ice cream</h3>
                    <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et</p>
                    <button class="round-btn" type="button">-></button>
                </div>
            </li>
            <li class="products-list-item">
                <div class="icecoffee products-list-box">
                    <h3 class="product-name label">ice coffee</h3>
                    <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et</p>
                    <button class="round-btn" type="button">-></button>
                </div>
            </li>
            <li class="products-list-item">
                <div class="milkshakes products-list-box">
                    <h3 class="product-name label">milkshakes</h3>
                    <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et</p>
                    <button class="round-btn" type="button">-></button>
                </div>
            </li>
        </ul>
    </div>
</section>