.about-wrapper {
    display: flex;
}

.about-text-bold {
    display: inline-block;
    margin-bottom: 35px;
    @include font(500, 16px, 28px);
}

.about-text {
    color: var(--grey-text-color);
    @include font(500, 14px, 27px);
}