.hero-header {
    padding-top: 6px;
    background-color: var(--header-background);
    min-height: 496px;
    position: relative;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 137px;
}

.nav-list {
    display: none;
}

.header-btn {
    display: none;
}

.presentation-list {
    display: none;
}

.manufacture {
    display: none;
}

.burger-menu-btn {
    background-color: transparent;
    border: none;
}

.tasty-header-image{
    display: none;
}

.burger-menu-btn-icon {
    width: 20px;
    height: 20px;
}

.mobile-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    
    padding-top: 123px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 250px;
    height: 100%;
    overflow: auto;
    top: 0;
    right: 0;
    background-color: var(--mobile-menu-background);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 
                0px 2px 4px rgba(0, 0, 0, 0.08), 
                0px 1px 3px rgba(0, 0, 0, 0.16);            
    
    opacity: 0;
    visibility: hidden;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
}

.mobile-menu-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
}

.mobile-menu-close-icon {
    width: 14px;
    height: 14px;
}

.mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-menu-nav-list-item {
    display: flex;
    padding-left: 21px;
    height: 42px;
    border: 1px solid #E18298;
    & :focus {
        color: var(--main-pink-color);
    }
}

.mobile-menu-nav-list-link {
    @include font(700, 14px, 18px);
    color: var(--white);
    align-self: center;
}

.hero-title {
    position: relative;
    color: var(--white);
    margin-bottom: 19px;
    z-index: 1;
    text-align: start;
}

.hero-title-text {
    @include font (400, 48px, 45px, 0.04em);
    color: var(--main-pink-color);
    
}
.hero-links-list {
    display: flex;
}
.hero-links-list-item {   
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    min-height: 24px;
    &.prod {
    background-color: var(--main-pink-color);
    color: var(--white);
    min-width: 63px;
    margin-right: 8px;
    }

    &.made {
    background-color: var(--white);
    color: var(--main-pink-color);
    min-width: 82px;
    }
}

.hero-links-list-link-product {
    @include font (400, 8px, 10px);
    color: var(--white);
}

.hero-links-list-link-made {
    @include font (400, 8px, 10px);
    color: var(--main-pink-color);
}

.icecream-background {
    position: absolute;
    background-color: var(--font-color);
    border-radius: 50%;
    width: 346px;
    height: 344px;
    z-index: 0;
    top:0;
    right: 0;
    transform: translate(20%, 24%);
    
}

.icecream-img {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 81px;
    top: 9px;
}

@media screen and (min-width: 768px) {
    .hero-header {
        min-height: 334px;
        padding-top: 37px;
        padding-bottom: 28px;
    }

    .header {
        margin-bottom: 15px;
    }
    .header-btn {
        position: relative;
        display: flex;
        z-index: 100;
    }

    .header-btn-icon {
        fill: var(--main-pink-color);
        margin-left: 12px;
    }

    .header-btn-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-btn-list-item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    
    .burger-menu-btn {
        position: relative;
        z-index: 1;
    }

    .hero-title {
        width: 162px;
        @include font (400, 22px, 25px, 0.04em)
    }
    
    .hero-title-text {
        @include font (400, 34px, 30px, 0.04em)
    }

    .hero-links-list {
        margin-bottom: 19px;
    }

    .presentation-list {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-self: end;
        top: 31%;
        right: 0;
        transform: translate(-25%, -50%);
        
    }

    .presentation-list-item {
        position: relative;
        z-index: 1;
        font-family: var(--titan-font);
        @include font(400, 28px, 32px, 0.04em);
        color: var(--main-pink-color);
        text-align: right;
        word-wrap: normal;
        &>p {
            font-family: var(--primary-font);
            @include font(400, 8px, 10px);
            color: var(--white);
        }
    }

    .presentation-list-decor {
        position: absolute;
        width: 16px;
        height: 16px;
        top: -2px;
        right: -10px;
        z-index: -1;

        background-color: #FFFFFF;
        border-radius: 50%;
    }

    .manufacture {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        height: auto;
    }

    .manufacture-img {
        width: 124px;
        height: auto;
        
    }

   .manufacture-text {
        width: 114px;
        margin-bottom: 7px;
        @include font (400, 8px, 12px); 
        color: var(--white);
   }
   .manufacture-wraper {
       display: flex;
       flex-direction: column;
       justify-content:end;
       align-items: flex-start;
   }

   .hero-round-btn {
       display: flex;
       align-items: center;
       width: 18px;
       height: 18px;
       fill: var(--main-pink-color);
   }

   .hero-round-btn-icon {
       width: 10px;
       height: 10px;
   }

   .icecream-background {
       width: 324px;
       height: 322px;
       top: 50%;
       left: 50%;
       transform: translate(-25%, -52%);
   }

   .icecream-img {
       top: 32px;
       left: 71px;
   }

   .tasty-header-image {
       display: block;
       position: absolute;
       top: 69%;
       right: 0%;
       z-index: 1;
   }
}